<a routerLink="Accueil">
    <img class="logo" src="../../../assets/images/Logo_au_petit_village.png" alt="Casque d'astérix avec des ailes et marqué au petit village">
</a>

<div>
    <a class="social_link" href="instagram.com/au-petit-village">
        <img src="../../../assets/images/instagram.png" alt="">
    </a>
    <a class="social_link" href="facebook.com/au-petit-village">
        <img src="../../../assets/images/facebook.png" alt="">
    </a>
    <a class="social_link" href="twitter.com/au-petit-village">
        <img src="../../../assets/images/twitter.png" alt="">
    </a>
</div>
