<header>
    <ul class="nav-list">
        <li>
            <a class="home" routerLink="Accueil" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true}">Accueil</a>
        </li>
        <div class="logo">
            <a routerLink="Accueil">
                <img src="../../../assets/images/Logo_au_petit_village.png" alt="Casque d'astérix avec des ailes et marqué au petit village">
            </a>
        </div>
        <li>
            <a class="about" routerLink="About" routerLinkActive="is-active">A propos</a>
        </li> 
    </ul>
</header>