<div class="about">
    <div class="about-container">
        <h1>AU PETIT VILLAGE</h1>
            <img src="../../../assets/images/Firefly Equipe de plusieurs personnes d'artisans dans leurs ateliers de création de figurines en pla.jpg" alt="Photo de l'équipe d'Au petit Village" class="team-photo">
            <div class="description">
                <p>
                    Au cœur de notre atelier, une équipe passionnée d'artistes donne vie à des figurines d'exception. Sculpteurs talentueux, peintres minutieux et concepteurs ingénieux collaborent étroitement pour transformer une simple idée en une œuvre miniature. Chaque membre apporte son expertise unique, des premières esquisses à la touche de peinture finale. Notre équipe maîtrise un large éventail de techniques, de la sculpture traditionnelle à la modélisation 3D, pour créer des figurines aux détails saisissants.
                </p>
                <p>
                    Cette passion commune transcende les techniques, qu'il s'agisse de sculpture traditionnelle ou de modélisation 3D, pour donner naissance à des figurines saisissantes de réalisme et chargées d'émotion. Notre but ultime ? Partager cette passion avec les collectionneurs et les amateurs, en leur offrant des pièces uniques, témoins de notre amour inconditionnel pour l'art de la figurine.
                </p>
            </div>
    </div>